<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Writing Wizard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='back/css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='back/css/drag_and_drop.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='back/css/style_loading.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='back/css/table.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="static/back/img/Logo_A2SV.svg">
    <style>
        .essay_image{
            padding-left: 10%;
            padding-top: 5%;
            padding-top: -1000px;
        }
    </style>
</head>

<body>
    <h1 style="
    margin-left: 100px;
">Writing Wizard</h1>

    <div id="sidebar">
        {% include 'back_index.html' %}
    </div>
    <div id="loading-indicator" class="popup">
        <div class="popup-content">
            <div class="u-loading">
                <div class="u-loading__symbol">
                    <img src="../static/back/img/Logo_A2SVv.svg">
                </div>
            </div>
        </div>
    </div>  
    <!-- Form for image upload -->
    <form action="/generate_text" method="post" enctype="multipart/form-data" id="my-form" style="margin-left: 20%;">
        <label for="image" class="ecriture">Show us your awesome handwriting! 📝:</label>
        <label class="btn-draganddrop">
            Select Or Drop An Image
            <input type="file" id="image__input" name="image" @change="onChange" accept="image/*">
        </label>
        <br>
        <!-- <label for="num_lines"class="ecriture">How many lines did you write ✏️?</label> -->
        <!-- <input type="number" name="num_lines"class="ecriture" placeholder="" > -->
        <br>
        <button class="btn-recognize">Recognize</button>
        <br>
    </form>


    {% if generated_text %}
    <div class="wrapper">
        
        <div id="audioPlayerDiv" hidden></div>
        <div class="ecriture2">Your writing : <button id="queryButton"class="icon-button-voice" ><img src="../static/back/img/voice.svg" alt="Aide"></button><div class="spinner"id="loader">
            <h3><span class="visually-hidden">visuallyhidden</span></h3>
        </div></div><br>

        
        <!-- Display generated_text in a textarea for editing -->
        <form action="/correct_text" method="post" id="my-form-2">
            <div class="haja">
                <textarea id="user_input" name="user_input" class="text-2" rows="4"style="font-weight: 100;" >{{ generated_text }}</textarea>
                <!-- <div class="ecriture3">Your handwritten paragraph : </div> -->
                <img class="image-par"src="data:image/jpeg;base64, {{ imgg }}" alt="Your Image Description" />
            </div>
            <br>
            <input type="submit" class="btn-correct" value="Correct paragraph">

        </form>
        
    </div>
    {% endif %}

    {% if grade %}
    <div class="wrapper">
       
                 {% if grade.strip() =="Grade: A" %}
                 <img src="../static/back/img/A.png" class="grade">
                 {% elif grade.strip() == 'Grade: B' %}
                 <img src="../static/back/img/B.png" class="grade">
                 {% elif grade.strip() == 'Grade: C' %}
                 <img src="../static/back/img/C.png" class="grade">
                 {% elif grade.strip() == 'Grade: D' %}
                 <img src="../static/back/img/D.png" class="grade">
                 {% endif %}
         
            
                 <div class="pros-cons-container">
                     <div class="pros-container">
                       <h2 class="heading">Nicely Done</h2>
               
                       <ul class="pros">
                        {% for point in pros.split('\n')[1:] if point.strip() %}
                            <li>{{ point.strip() }}</li>
                        {% endfor %}
                    </ul>
                     </div>
               
                     <div class="cons-container">
                       <h2 class="heading">Things to improve</h2>
                       <ul class="cons">
                        {% for point in cons.split('\n')[1:] if point.strip() %}
                            <li>{{ point.strip() }}</li>
                        {% endfor %}
                    </ul>
                     </div>
 
                   </div>              
       
              
                
                
           
     </div>
     
     {% endif %} 
    <button class="icon-button" onclick="window.dialog.showModal();"style="z-index: 1;" ><img src="../static/back/img/question.png" alt="Aide"></button>
   
    <dialog id="dialog">
        <h2>"These Are Your Guiding Steps for How to Use" 🌟</h2>
        <p>1. Share Your Handwriting: Show us your awesome handwriting! 📝</p>
        <p>2. Tell Us How Many Lines: How many lines did you write? Write it down! ✏️</p>
        <p>3. Tap "Recognize": Touch the magic button that says "Recognize." </p>
        <p>4. Fix and Change: Make it even better! ✨</p>
        <p>5. Press "Correct": When you're ready, press "Correct" for a big surprise! 🌟</p>
        <p>Now, you're all set to create something amazing with CogniPath! 🚀📚🌈</p>
        <button onclick="window.dialog.close();" aria-label="close" class="x">❌</button>
    </dialog>
    <script>


// Add an event listener to run the hideLoader function after the page has loaded
window.onload = function () {
    setTimeout(hideLoader, 3000); // Hides the loader after 5 seconds
};
        document.getElementById("image__input").addEventListener("change", function () {
            const imagePreview = document.getElementById("imagePreview");
            const file = this.files[0];
    
            if (file) {
                const reader = new FileReader();
    
                reader.onload = function (e) {
                    const img = new Image();
                    img.src = e.target.result;
                    img.className = "preview-image";
                    img.style.width = "50%";
                    img.style.height = "50%";
                    img.style.marginBottom="150px"
                    imagePreview.innerHTML = "";
                    imagePreview.appendChild(img);
                };
    
                reader.readAsDataURL(file);
            } else {
                imagePreview.innerHTML = ""; // Clear the preview if no file is selected
            }
        });
    </script>
    <script>
        async function query(data) {
            const response = await fetch(
                "https://api-inference.huggingface.co/models/facebook/fastspeech2-en-ljspeech",
                {
                    headers: { Authorization: "Bearer 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" },
                    method: "POST",
                    body: JSON.stringify(data),
                }
            );
            return response;
        }
        document.addEventListener("DOMContentLoaded", async () => {
            // Load the model when the page is fully loaded
            await query({ "inputs": "Initial load" });
        });
        document.getElementById("queryButton").addEventListener("click", async () => {
    // Afficher le loader pendant le chargement
    const loader = document.getElementById("loader");
    loader.style.display = "block";

    const userInput = document.getElementById("user_input").value;
    const inputData = { "inputs": userInput };
    const response = await query(inputData);
    const audioPlayerDiv = document.getElementById("audioPlayerDiv");

    if (response.ok) {
        // Créer un élément audio pour jouer le fichier audio
        const audioElement = document.createElement("audio");
        audioElement.src = URL.createObjectURL(await response.blob());
        audioElement.controls = true;

        // Ajouter l'élément audio au div
        audioPlayerDiv.innerHTML = "";
        audioPlayerDiv.appendChild(audioElement);

        // Lorsque le chargement est terminé, masquer le loader et jouer l'audio
        audioElement.addEventListener("canplaythrough", () => {
            loader.style.display = "none"; // Masquer le loader
            audioElement.play();
        });
    } else {
        // Gérer les erreurs ici
        loader.style.display = "none"; // Masquer le loader en cas d'erreur
        audioPlayerDiv.textContent = "Error: Unable to fetch audio.";
    }
});

    </script>
    <script src="{{ url_for('static', filename='back/js/drag_and_drop.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
    
        const form = document.getElementById("my-form");
        const loadingIndicator = document.getElementById("loading-indicator");
        const imageInput = document.getElementById("image__input");

        form.addEventListener("submit", function (e) {
            if (imageInput.files.length === 0) {
                e.preventDefault(); // Prevent form submission
                // You can also provide feedback to the user if needed
                alert("You must select an image before submitting.");
            } else {
                loadingIndicator.style.display = "block";
            }
        });
        const form2 = document.getElementById("my-form-2");
        const loadingIndicator2 = document.getElementById("loading-indicator");
        form2.addEventListener("submit", function (e) {
        e.preventDefault();
        loadingIndicator2.style.display = "block";
        form2.submit();
        });
    </script>
</body>
</html>
